<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Figura geometrica</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-select (ionChange)="figuraSeleccionada($event)" label="Figura geometrica" placeholder="Escoja una figura geometrica">
      <ion-select-option value="circulo">circulo</ion-select-option>
      <ion-select-option value="triangulo">triangulo</ion-select-option>
    </ion-select>
  </ion-item>

  <app-circulo *ngIf="figura === 'circulo'"></app-circulo>
  <app-triangulo *ngIf="figura === 'triangulo'"></app-triangulo>
</ion-content>
